*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$font1: Verdana, Geneva, Tahoma, sans-serif;

$color1: grey;
$color2: black;

$animal: gato;


.imgcarousel{
    width: 1440px;
    height: 350px;
}

.contenedor_padre{
    background-size: cover;
    justify-content: center;
    background-position: center;
    align-items: center;
    height: 80%;
    margin: 0 auto;
    background-color: $color1;
    height: 350px;

    .drop{
        background-color: $color1;
    }
    
    
    .itemsdelnav{
        font-size: 15px;
        font-family: $font1;
    }
    
    .boton{
        margin-bottom: 200px;
        
    }
    
    .indicadores{
        margin-bottom: 150px;
    }
    
    .cuerpo{
        background-color: $color1;
    }
    
    .nav-link{
        animation-name: aparecer;
        animation-duration: 2s;
        animation-delay: 0s;
        animation-iteration-count: 1;
    }
    
    .logodelnav{
        font-family: $font1;
        animation-name: aparecer;
        animation-duration: 2s;
        animation-delay: 0s;
        animation-iteration-count: 1;
    }
    
}


.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item{
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .4s ease-in-out;
    height: 500px;
}

.img:hover{
    transform: scale(1.05);
    transition: all 1s;
}

.img{
    border-radius: 9px;
    box-shadow: 0 0 10px grey;
}

.perfume{
    border-radius: 7px;
}


footer{
    
    display: grid;
    grid-template-columns: repeat(3, 33%);
    text-align: center;
    justify-items: center;
    padding: 1% 10%;
    color: $color2;
    background-color: $color1;
    height: 100%;

    .footer_informacion{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .titulos_f{
        color: black;
        font-size: 20px;
    }
    
    footer i{
        margin-top: 35px ;
        font-size: 35px;
        color: $color2;
        margin-left: 5px;
    }
    
    
    footer p{
        display: flex;
        justify-content: center;
        margin-top: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: $color2;
    }
}

.header_nav{
    @if $animal == gato {
        width: auto;
        height: 80px;
        background-color: $color2;
        display: flex;
        justify-content: space-between;
    }
}

.logo_nav{
    @if $animal == gato {
    color: white;
    line-height: 80px;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-name: aparecer;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
 }
}

@keyframes aparecer {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.li_nav{
    animation-name: aparecer;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

.lista_nav{
    @if $animal == gato{
        display: flex;
        list-style: none;
        font-size: 15px;
        line-height: 80px;
    }    
}

.item_nav{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-family: $font1;
}

.li_nav:hover{
    transform: scale(1.05);
    transition: 1s;
}

.presentacion{
    background-position: center;
    background-size: cover;
    background-image: url(https://fraguru.com/mdimg/vijesties/o.5414.2.jpg);
    width: auto;
    height: 600px;
    margin-top: 10px;
}

.imagenp{
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
}


.zzz{
    display: flex;
    height: 80px;
    justify-content: center;
    animation-name: aparecer;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    background-color: $color1;  
}

.fa-solid{
    color: white;
    font-size: 20px;
}


.galeria{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 800px;
    margin-top: 10px;

    .img{
        border: 2px solid black;
        height: 350px;
        width: 300px;
    }
    
    .img1{
        height: 300px;
        background-position: center;
        background-size: cover;
    }
    
    .img1{
        background-image: url(https://eco-beauty.dior.com/dw/image/v2/BDGF_PRD/on/demandware.static/-/Sites-master_dior/default/dwe2a9df62/assets/Y0785220/Y0785220_F078524009_E01_GHC.jpg?sw=460&sh=498&sm=fit);
    }
    
    .img2{
        @extend .img1;
        background-image: url(https://eco-beauty.dior.com/dw/image/v2/BDGF_PRD/on/demandware.static/-/Sites-master_dior/default/dwd7a2a66e/assets/Y0479201/Y0479201_engraving_es_ES.jpg);
    }
    
    .img3{
        @extend .img1;
        background-image: url(https://eco-beauty.dior.com/dw/image/v2/BDGF_PRD/on/demandware.static/-/Sites-master_dior/default/dw9e5fbfcc/assets/Y0996460/Y0996460_C099600755_E01_GHC.jpg?sw=460&sh=498&sm=fit);
    }
    
    .img4{
        @extend .img1;
        background-image: url(https://prd-v3-i.chanel.com/fnbv3/image/full/chanel__com_type1/products_full/bleu-de-chanel-eau-de-toilette-spraybr.P107450.jpg);
    }
    
    .img5{
        @extend .img1;
        background-image: url(https://m.media-amazon.com/images/I/41pCO9VCKfL._SY355_.jpg);
    }
    
    .img6{
        @extend .img1;
        background-image: url(https://falabella.scene7.com/is/image/Falabella/6512483_1?wid=1500&hei=1500&qlt=70);
    }
    
    .img7{
        @extend .img1;
        background-image: url(https://juleriaque.vteximg.com.br/arquivos/ids/183451-1000-1000/acqua-di-gio-profondo-lights-edp-edlimitada-0DB3E3BD71FCE1D098714AB98D895018.jpg?v=637807970476230000);
    }
    
    .img8{
        @extend .img1;
        background-image: url(https://juleriaque.vteximg.com.br/arquivos/ids/164101-1000-1000/acqua-di-gio-homme-profumo-edt-63FDCA3269B62BB07DD7FD2A20497972.jpg?v=637347497157600000);
    }
    
    .img9{
        @extend .img1;
        background-image: url(https://www.sephora.com/productimages/sku/s2054286-main-zoom.jpg);
    }
}

@media only screen and (max-width: 576px){

    .imgcarousel{
        height: 300px;

    }

    .contenedor_padre{
        height: 300px;
    }

    .boton{
        margin-bottom: 200px;
        
    }
    
    .indicadores{
        margin-bottom: 200px;
    }


    .galeria{
        display: grid;
        grid-template-columns: repeat (auto-fill, 1fr);
    }

    .img{
        display: grid;  
        margin-top: 20px;
    }

    footer{
        grid-template-columns: 1fr;
        margin-top: 200px;  
    }

     
}

@media only screen and (max-width: 949px){

    .galeria{
        display: grid;
        grid-template-columns: repeat (auto-fill, 2fr);
    }
    .img{
        display: grid;  
        margin-top: 20px;
    }

    .footer_perfumes{
        margin-top: 380px;
    }

    footer{
        margin-top: 00px;
    }

    
    
}


$redes: (
    color: grey,
    letra: verdana,
    center: center,
);

.perfume{
    font-family: map-get($redes,letra) ;
    color: white;
    display: flex;
    justify-content: map-get($redes,center);
    line-height: 50px;
    background-color: map-get($redes,color);
    border-radius: 7px;
}

@mixin sizes ($heigth, $bcolor,) {
    height: $heigth;
    background-color: $bcolor
}

.imagen_logo{
    @include sizes (100px, grey);
    display: flex;
    margin-top: -10px; 
}


