*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$font1: Verdana, Geneva, Tahoma, sans-serif;

$color1: grey;
$color2: black;
$color3: white;

$animal: gato;

.drop{
    background-color: $color1;
}


.cuerpo{
    background-color: $color3;
}

.import{
    background-color: $color3;
}

.importadosdior{
    text-align: center;
    font-size: 28px;
    font-family: $font1;
    margin-top: 10px;
}


.importados{
    text-align: center;
    font-size: 28px;
    font-family: $font1;
    background-color: $color3;
}


.imgcarousel{
    width: 1440px;
    height: 350px;
}

.contenedor_padre{
    background-size: cover;
    justify-content: center;
    background-position: center;
    align-items: center;
    height: 80%;
    margin: 0 auto;
    background-color: $color1;
    height: 350px;

    .drop{
        background-color: $color1;
    }
    
    
    .itemsdelnav{
        font-size: 15px;
        font-family: $font1;
    }
    
    
    .cuerpo{
        background-color: $color1;
    }
    
    .nav-link{
        animation-name: aparecer;
        animation-duration: 2s;
        animation-delay: 0s;
        animation-iteration-count: 1;
    }
    
    .logodelnav{
        font-family: $font1;
        animation-name: aparecer;
        animation-duration: 2s;
        animation-delay: 0s;
        animation-iteration-count: 1;
    }
    
}

.boton{
    margin-bottom: 200px;
    
}

.indicadores{
    margin-bottom: 150px;
}


.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item{
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .4s ease-in-out;
    height: 500px;
}

.img:hover{
    transform: scale(1.05);
    transition: all 1s;
}

.img{
    border-radius: 9px;
    box-shadow: 0 0 10px grey;
}

.perfume{
    border-radius: 7px;
}

.fa-brands, .fab {
    font-family: "Font Awesome 6 Brands";
    font-weight: 900;
    font-size: 24px;
}


footer{
    margin-top: 10px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    text-align: center;
    justify-items: center;
    padding: 1% 10%;
    color: $color2;
    background-color: $color1;
    height: 100%;

    .footer_informacion{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .titulos_f{
        color: black;
        font-size: 20px;
    }
    
    footer i{
        margin-top: 35px ;
        font-size: 35px;
        color: $color2;
        margin-left: 5px;
    }
    
    
    footer p{
        display: flex;
        justify-content: center;
        margin-top: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: $color2;
    }
}

footer{
    margin-top: 10px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    text-align: center;
    justify-items: center;
    padding: 1% 10%;
    color: $color2;
    background-color: $color1;
    height: 100%;
    }
    
.header_nav{
    @if $animal == gato {
        width: auto;
        height: 80px;
        background-color: $color2;
        display: flex;
        justify-content: space-between;
    }
}

.logo_nav{
    @if $animal == gato {
    color: white;
    line-height: 80px;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-name: aparecer;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
 }
}

@keyframes aparecer {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.li_nav{
    animation-name: aparecer;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

.lista_nav{
    @if $animal == gato{
        display: flex;
        list-style: none;
        font-size: 15px;
        line-height: 80px;
    }    
}

.item_nav{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-family: $font1;
}

.li_nav:hover{
    transform: scale(1.05);
    transition: 1s;
}

.presentacion{
    background-position: center;
    background-size: cover;
    background-image: url(https://fraguru.com/mdimg/vijesties/o.5414.2.jpg);
    width: auto;
    height: 600px;
    margin-top: 10px;
}

.imagenp{
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
}


.zzz{
    display: flex;
    height: 80px;
    justify-content: center;
    animation-name: aparecer;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    background-color: $color1;  
}

.fa-solid{
    color: white;
    font-size: 20px;
}

.lanzamientos{
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.galeria_index {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 400px;
    margin-top: 10px;
}

.img_index{
    margin-top: 20px;
    border: 2px solid black;
    height: 350px;
    width: 300px;
    border-radius: 9px;
    box-shadow: 0 0 10px grey;
}

.img_index:hover {
    transform: scale(1.05);
    transition: all 1s;
}

.img_perfume1{
    border-radius: 7px;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-image: url(https://juleriaque.vteximg.com.br/arquivos/ids/184833-1000-1000/le-beau-le-parfum-intenso-C23087694C202E1BB803F3C3F802B97E.jpg?v=637853006359300000) ;
}

.img_perfume2{
    border-radius: 7px;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-image: url(https://www.pacorabanne.com/medias/sys_master/images/images/h2d/h56/9335169253406/9335169253406.jpg) ;
}



.perfume_descrip{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: white;
    display: flex;
    justify-content: center;
    line-height: 50px;
    background-color: black;
    border-radius: 7px;
}

.img_regalos:hover{
    transform: scale(1.05);
    transition: all 1s;
}

.img_regalos{
    border-radius: 7px;
    margin-top: 10px;
    border: 2px solid black;
    height: 350px;
    width: 300px; 
    box-shadow: 0 0 10px grey;
}

.img10{
    @extend .img1;
    background-image: url(https://juleriaque.vteximg.com.br/arquivos/ids/185548-1000-1000/le-beau-le-parfum-intenso-014ECD8EEF8EB1A1C60DC8659A9A4E78.jpg?v=637877091350570000);
}

.img11{
    @extend .img1;
    background-image: url(https://juleriaque.vteximg.com.br/arquivos/ids/184936-1000-1000/polo-blue-edp-D068A5C1ED06BE416C856D8C11822EA9.jpg?v=637854734839500000)
}

.img12{
    @extend .img1;
    background-image: url(https://juleriaque.vteximg.com.br/arquivos/ids/179673-1000-1000/scandal-pour-homme-edt-100-ml-mas-bolso-883CE8FF53FCB39E5525B9DE5533005F.jpg?v=637716387573930000)
}

.img13{
    @extend .img1;
    background-image: url(https://juleriaque.vteximg.com.br/arquivos/ids/184110-1000-1000/bad-boy-edt-9E4D50EF500323F3DD44B095A054F02C.jpg?v=637832414981430000)
}

.img14{
    @extend .img1;
    background-image: url(https://juleriaque.vteximg.com.br/arquivos/ids/175150-1000-1000/acqua-di-gio-homme-absolu-edp-B28CE3BD434F81A8BFF60A0CFDEBFAA6.jpg?v=637618862378200000)
}

.img15{
    @extend .img1;
    background-image: url(https://juleriaque.vteximg.com.br/arquivos/ids/176310-1000-1000/ck-defy-edt--7BC3A6CE9A78BB9A71C1099AB3FACDF9.jpg?v=637653314529800000);
}



.img1{
    border-radius: 7px;
    height: 300px;
    background-position: center;
    background-size: cover;
}

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 100%;
    height: 800px;
    margin-top: 10px;

    .img{
        border: 2px solid black;
        height: 350px;
        width: 300px;
    }
    
    
    .img1{
        border-radius: 7px;
        background-image: url(https://eco-beauty.dior.com/dw/image/v2/BDGF_PRD/on/demandware.static/-/Sites-master_dior/default/dwe2a9df62/assets/Y0785220/Y0785220_F078524009_E01_GHC.jpg?sw=460&sh=498&sm=fit);
    }
    
    .img2{
        border-radius: 7px;
        @extend .img1;
        background-image: url(https://eco-beauty.dior.com/dw/image/v2/BDGF_PRD/on/demandware.static/-/Sites-master_dior/default/dwd7a2a66e/assets/Y0479201/Y0479201_engraving_es_ES.jpg);
    }
    
    .img3{
        border-radius: 7px;
        @extend .img1;
        background-image: url(https://eco-beauty.dior.com/dw/image/v2/BDGF_PRD/on/demandware.static/-/Sites-master_dior/default/dw9e5fbfcc/assets/Y0996460/Y0996460_C099600755_E01_GHC.jpg?sw=460&sh=498&sm=fit);
    }
    
    .img4{
        border-radius: 7px;
        @extend .img1;
        background-image: url(https://prd-v3-i.chanel.com/fnbv3/image/full/chanel__com_type1/products_full/bleu-de-chanel-eau-de-toilette-spraybr.P107450.jpg);
    }
    
    .img5{
        border-radius: 7px;
        @extend .img1;
        background-image: url(https://m.media-amazon.com/images/I/41pCO9VCKfL._SY355_.jpg);
    }
    
    .img6{
        border-radius: 7px;
        @extend .img1;
        background-image: url(https://falabella.scene7.com/is/image/Falabella/6512483_1?wid=1500&hei=1500&qlt=70);
    }
    
    .img7{
        border-radius: 7px;
        @extend .img1;
        background-image: url(https://juleriaque.vteximg.com.br/arquivos/ids/183451-1000-1000/acqua-di-gio-profondo-lights-edp-edlimitada-0DB3E3BD71FCE1D098714AB98D895018.jpg?v=637807970476230000);
    }
    
    .img8{
        border-radius: 7px;
        @extend .img1;
        background-image: url(https://juleriaque.vteximg.com.br/arquivos/ids/164101-1000-1000/acqua-di-gio-homme-profumo-edt-63FDCA3269B62BB07DD7FD2A20497972.jpg?v=637347497157600000);
    }
    
    .img9{
        border-radius: 7px;
        @extend .img1;
        background-image: url(https://www.sephora.com/productimages/sku/s2054286-main-zoom.jpg);
    }
}

.iniciar__contenedor2 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.galeria_regalos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-items: center;
}

.vermas{
    display: grid;
   
    justify-items: center;
}
.regalos_ver{
    background-color: black;
    display: grid;
    border: 2px black solid;
    width: 100px;
    justify-items: center;
    margin-top: 10px;
}

.regalos{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.regalos:hover{
    color: white;
    transform: scale(1.05);
    transition: all 1s;
}

.img_perfume3{
    border-radius: 7px;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-image: url(https://juleriaque.vteximg.com.br/arquivos/ids/184638-1000-1000/one-million-elixir-edp-129F4249F59AD9A631999AC416E636FE.jpg?v=637848578771730000);
}

.img_perfume4{
    border-radius: 7px;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-image: url(https://juleriaque.vteximg.com.br/arquivos/ids/184936-1000-1000/polo-blue-edp-D068A5C1ED06BE416C856D8C11822EA9.jpg?v=637854734839500000);
}


@media  (min-width: 320px) and (max-width: 625px){

    .footer{
        height: 600px;
    }
    
    .footer_regalos{
        margin-top: 20px;
    }

    .footer_perfumes{
        margin-top: 1450px;
    }

    .galeria_regalos{
    display:grid;
    grid-template-columns: 1fr;
    justify-content: center;
    }

    .iniciar__contenedor2 {
        color: white;
        display: flex;
        
        justify-content: center;
        align-items: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
    }

    .img_index{
        margin-left: 5px;
        margin-right: 5px;
    }

    .imgcarousel{
        height: 300px;

    }

    .contenedor_padre{
        height: 300px;
    }

    .boton{
        margin-bottom: 200px;
        
    }
    
    .indicadores{
        margin-bottom: 210px;
    }


    .galeria{
        display: grid;
        grid-template-columns: 1fr;
    }

    .img{
        display: grid;  
        margin-top: 20px;
    }

    footer{
        grid-template-columns: 1fr;
        margin-top: 200px;  
    }
    
}

@media  (min-width: 626px) and (max-width: 949px){

    .footer_regalos{
        margin-top: 10px;
    }

    .galeria_regalos{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    }

    .iniciar__contenedor2 {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
    }

    .galeria{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    .img{
        display: grid;  
        margin-top: 20px;
    }

    .footer_perfumes{
        margin-top: 380px;
    }

    footer{
        margin-top: 00px;
    }

    
    
}


$redes: (
    color: grey,
    letra: verdana,
    center: center,
);

.perfume{
    font-family: map-get($redes,letra) ;
    color: white;
    display: flex;
    justify-content: map-get($redes,center);
    line-height: 50px;
    background-color: black;
    border-radius: 7px;
}

@mixin sizes ($heigth, $bcolor,) {
    height: $heigth;
    background-color: $bcolor
}

.imagen_logo{
    @include sizes (100px, grey);
    display: flex;
    margin-top: -10px; 
}


.iniciar{
    text-align: center;
}

.iniciar__contenedor{
display: flex;
justify-content: center;
align-items: center;
height: 55vh;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 18px;
color: white;
}

.contenedor__iniciarBtn {
    display: flex;
    justify-content: center;
}

.iniciar__form input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin: 2px;
}

.iniciar__contenedor--link {
    display: flex;
    justify-content: center;
    font-size: 19px;
}

.iniciar__form{
background-color: black;
border-radius: 7px;
padding: 10px;
border: solid 1px white;
}

.crear-cuenta{
    text-decoration: none;
    color: white;
}

.crear-cuenta:hover{
    transform: scale(1.05);
    transition: all 1s;
    color: white;
}




